<h1>My Orders</h1>
<h5> Transactions displayed in reverse chronological order </h5>

<table border ="1">
  <tr>
    <th class="medium-column">Order ID</th>
    <th>Status</th>
    <th class="money">Cost</th>
    <th>Order Details</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
    <% if order.order_total_cost > 0 %>
      <td class="medium-column"><%= order.id %></td>
      <td><%= order.order_status %></td>
      <td class="money"><%= number_to_currency(order.order_total_cost) %> </td>
      <td><%=link_to "Details", order_path(order), class: "btn btn-details float-left" %></td>
    <% end %>
    </tr>
    <% end %>
  </table>
